<launch>

  <!-- args corresponding to environment variables -->
  <arg name="UAV_NAME" default="$(env UAV_NAME)" />
  <arg name="PROFILER" default="$(optenv PROFILER false)" />
  <arg name="RUN_TYPE" default="$(env RUN_TYPE)" />
  <arg name="UAV_TYPE" default="$(env UAV_TYPE)" />
  <arg name="LOGGER_DEBUG" default="$(optenv LOGGER_DEBUG false)" />

    <!-- other args -->
  <arg name="standalone" default="true" />
  <arg name="debug" default="false" />

  <env name="ROSCONSOLE_CONFIG_FILE" if="$(eval arg('LOGGER_DEBUG'))" value="$(find mrs_mavros_interface)/config/debug_verbosity.yaml" />

  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="standalone" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="load" />
  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="$(arg UAV_NAME)_nodelet_manager" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <group ns="$(arg UAV_NAME)">

    <node pkg="nodelet" type="nodelet" name="mavros_diagnostics" args="$(arg nodelet) mrs_mavros_interface/MavrosDiagnostics $(arg nodelet_manager)" output="screen" launch-prefix="$(arg launch_prefix)">

      <!-- Load the default param files -->
      <rosparam file="$(find mrs_mavros_interface)/config/default/mavros_diagnostics.yaml" command="load" />

        <!-- Load the particular param files -->
      <rosparam file="$(find mrs_mavros_interface)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/mavros_diagnostics.yaml" command="load" />

      <param name="enable_profiler" type="bool" value="$(arg PROFILER)" />

        <!-- Subscribers -->
      <remap from="~diagnostics_in" to="diagnostics" />
      <remap from="~mavros_state_in" to="mavros/state" />
      <remap from="~num_satelites_in" to="gps_sat_num_visible" />

        <!-- Publisher -->
      <remap from="~diagnostics_out" to="mavros_interface/diagnostics" />
      <remap from="~profiler" to="profiler" />

    </node>

  </group>

</launch>
