<launch>

  <!-- args corresponding to environment variables -->
  <arg name="UAV_NAME" default="$(env UAV_NAME)" />
  <arg name="PROFILER" default="$(optenv PROFILER false)" />
  <arg name="RUN_TYPE" default="$(env RUN_TYPE)" />
  <arg name="UAV_TYPE" default="$(env UAV_TYPE)" />

    <!-- other args -->
  <arg name="standalone" default="false" />
  <arg name="debug" default="false" />

  <arg if="$(eval arg('RUN_TYPE') == 'simulation')" name="simulation" default="true" />
  <arg if="$(eval arg('RUN_TYPE') == 'uav')" name="simulation" default="false" />

  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="standalone" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="load" />
  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="$(arg UAV_NAME)_nodelet_manager" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <group ns="$(arg UAV_NAME)">

    <node pkg="nodelet" type="nodelet" name="mavros_interface" args="$(arg nodelet) mrs_mavros_interface/MavrosInterface $(arg nodelet_manager)" output="screen" launch-prefix="$(arg launch_prefix)">

      <!-- Load the default param files -->
      <rosparam file="$(find mrs_mavros_interface)/config/default/mavros_interface.yaml" command="load" />

        <!-- Load the particular param files -->
      <rosparam file="$(find mrs_mavros_interface)/config/$(arg RUN_TYPE)/$(arg UAV_TYPE)/mavros_interface.yaml" command="load" />

      <param name="uav_name" type="string" value="$(arg UAV_NAME)" />
      <param name="simulation" type="bool" value="$(arg simulation)" />
      <param name="enable_profiler" type="bool" value="$(arg PROFILER)" />

        <!-- Subscribers -->
      <remap from="~odometry_in" to="mavros/local_position/odom" />

        <!-- Publisher -->
      <remap from="~odometry_out" to="~converted_mavros_odom" />
      <remap from="~profiler" to="profiler" />

    </node>

  </group>

</launch>
