<launch>

  <!-- args corresponding to environment variables -->
  <arg name="UAV_NAME" default="$(env UAV_NAME)" />
  <arg name="PROFILER" default="$(optenv PROFILER false)" />

    <!-- other args -->
  <arg name="standalone" default="false" />
  <arg name="debug" default="false" />

  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="standalone" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet" value="load" />
  <arg     if="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="" />
  <arg unless="$(eval arg('standalone') or arg('debug'))" name="nodelet_manager" value="$(arg UAV_NAME)_nodelet_manager" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <group ns="$(arg UAV_NAME)">

    <node pkg="nodelet" type="nodelet" name="mavros_diagnostics" args="$(arg nodelet) mrs_mavros_interface/MavrosDiagnostics $(arg nodelet_manager)" output="screen" launch-prefix="$(arg launch_prefix)">

      <rosparam file="$(find mrs_mavros_interface)/config/simulation.yaml" command="load" />
      <param name="enable_profiler" type="bool" value="$(arg PROFILER)" />

        <!-- Subscribers -->
      <remap from="~diagnostics_in" to="/diagnostics" />
      <remap from="~mavros_state_in" to="mavros/state" />
      <remap from="~num_satelites_in" to="gps_sat_num_visible" />

        <!-- Publisher -->
      <remap from="~diagnostics_out" to="mavros_interface/diagnostics" />
      <remap from="~profiler" to="profiler" />

    </node>

  </group>

</launch>
